---
import Container from "./Container.astro";
---

<Container size="small">
  <section id="aboutus">
    <h2>Who we are?</h2>
    <p>
      We are a group of activists creating forDem, the censorship-resistant
      sociopolitical network. Our team is transnational, heterarchical and 
      committed to human rights and fundamental freedoms. Our main objective
      is promotion of democractic states. 
    </p>
  </section>
</Container>

<style>
  section {
    width: 700px;
    display: flex;
    margin-top: 200px;
    margin-right: auto;
    margin-left: auto;
    text-align: left;
  }
  h2 {
    width: 200px;
    font-size: 40px;
    font-weight: bold;
  }
  p {
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.7rem;
    max-width: 480px;
  }

  @media (max-width: 600px) {
    section {
      width: 100%;
      flex-direction: column;
      margin-top: 10px;
    }
    h2 {
      font-size: 7vw;
    }
    p {
      margin-top: 30px;
    }
  }
</style>
