---
interface Props {
  size: "small" | "big";
  variant: "primary" | "secondary";
  text: string | number;
  link?: string;
}

const { size, variant, text, link } = Astro.props;

const button_class_name = size + " " + variant;
---

<a href={link || "#"}>
  <button class={button_class_name}>
    {text}
  </button>
</a>

<style>
  button {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: none;
    cursor: pointer;
    font-weight: bold;
  }
  button:hover {
    opacity: 0.9;
  }
  .small {
    padding: 10px 22px;
    font-size: 16px;
  }
  .big {
    padding: 5px 20px;
    font-size: 20px;
  }
  .primary {
    background-color: var(--primary-color);
  }
  .secondary {
    background-color: var(--secondary-color);
    color: white;
  }
</style>
