---
import Container from "./Container.astro";
---

<section>
  <Container size="small">
    <div class="wrapper">
      <div>
        <h2>Mobile App is still WIP but</h2>
        <!-- <img
          src="/images/download.png"
          width="154"
          height="116"
          class="mt"
          alt="get the app"
        /> -->
      </div>
      <div>
        <h3>meanwhile you can use any <a href="https://joinmastodon.org/apps">Mastodon app</a> to connect to Fordem</h3>
      </div>
    </div>
  </Container>
</section>

<style>
  section {
    display: inline-flex;
    margin-top: 70px;
    height: 600px;
    width: 100vw;
    overflow-x: hidden;
    background-color: var(--primary-color);
  }
  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
  }
  h2 {
    color: white;
    font-size: 60px;
  }
  .mt {
    margin-top: 35px;
  }

  @media (max-width: 600px) {
    .wrapper {
      flex-direction: column;
      justify-content: flex-start;
      padding: 30px 0;
    }
    h2 {
      font-size: 7vw;
    }
    .app-image {
      display: none;
    }
  }
</style>
