---
import Button from "./Button.astro";
import Container from "./Container.astro";
---

<Container size="small">
  <section>
    <img
      src="/images/zanzendegi.jpg"
      height="10%"
      width="20%"
      alt="zanzendegi"
    />
    <h1>
      For
      <span>Democracy</span>
    </h1>
    <p>
      forDem is a censorship-resistant e-Democracy platform. It combines all the main features of
      e-democracy platforms namely networking, participation, deliberation and transparency features
      plus the censorship-restance abilities like decentralisation, onion-routing etc.
      
    </p>
    <br />
    <Button variant="secondary" size="small" text="Read more" link="#aboutus" />
  </section>
</Container>

<style>
  section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-top: 15%;
  }
  h1 {
    font-size: 7vw;
    font-weight: lighter;
  }
  span {
    color: var(--primary-color);
  }
  p {
    width: 60%;
    font-size: 16px;
    font-weight: bold;
    margin-top: 30px;
  }

  @media (max-width: 600px) {
    img {
      width: 100px;
    }
    p {
      width: 100%;
      font-size: 15px;
    }
  }
</style>
