---
import Container from "./Container.astro";
---

<Container size="big">
  <nav>
    <h1>Fordem</h1>
    <div>
      <a href="https://app.fordem.org/public/local">Go to web app!</a>
    </div>
    <div>
      <a href="https://www.betterplace.org/en/projects/123115">Donate</a>
    </div>
    <div>
      <a href="https://transcf.org/en/blog/64">Imprint</a>
    </div>
  </nav>
</Container>

<style>
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
    font-size: 100%;
  }
  h1 {
    font-size: 30px;
    color: var(--primary-color);
  }
  div {
    display: flex;
    align-items: center;
    column-gap: 30px;
  }
  a {
    font-size: 2.2vw;
    font-weight: bold;
  }
</style>
