---
import Button from "./Button.astro";
import Container from "./Container.astro";
---

<Container size="big">
  <nav>
    <h1>Fordem</h1>
    <div>
      <a href="https://www.betterplace.org/de/projects/123115?utm_campaign=user_share&utm_medium=ppp_sticky&utm_source=Link">Donate</a>
    </div>
  </nav>
</Container>

<style>
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
  }
  h1 {
    font-size: 30px;
    color: var(--primary-color);
  }
  div {
    display: flex;
    align-items: center;
    column-gap: 30px;
  }
  a {
    font-size: 20px;
    font-weight: bold;
  }
</style>
